body {
    background-image: url(../images/PM.png);
    background-repeat: repeat-x;
}

.container {
    font-family: Georgia, Times, "Times New Roman", serif;
    display: block;
    margin: 10px 0px 10px 10px;
}

.header {
    background-color: chocolate;
    color: white;
    display: inline-block;
    margin: 5px 0px 5px 0px;
    padding: 15px 5px 15px 5px;
}

.Instructions {
    background-color: burlywood;
    color: darkgreen;
    display: inline-block;
    width: 600px;
    height: 300px;
    margin: 5px 0px 5px 0px;
    padding: 15px 5px 15px 5px;
}

.row,
.col-sm-2,
.col-lg-1,
.col-lg-3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#random-number {
    background-color: green;
    width: 250px;
    height: 120px;
    font-size: 32px;
    margin: 5px 0px 5px 0px;
    padding: 0px 5px 15px 5px;
}

.alert-win-loss {
    background-color: aqua;
    width: 100px;
    height: 120px;
    margin: 5px 0px 5px 10px;
    padding: 15px 5px 15px 5px;
}

#btn-1 {
    background: url(../images/Crystal1.png);
    /* cursor: pointer; */
    border: none;
    width: 125px;
    height: 120px;
}

#btn-2 {
    background: url(../images/Crystal2.png);
    /* cursor: pointer; */
    border: none;
    width: 125px;
    height: 120px;
}

#btn-3 {
    background: url(../images/Crystal3.png);
    /* cursor: pointer; */
    border: none;
    width: 125px;
    height: 120px;
}

#btn-4 {
    background: url(../images/Crystal4.png);
    /* cursor: pointer; */
    border: none;
    width: 125px;
    height: 120px;
}

.text {
    background-color: darkgreen;
    color: white;
    width: 250px;
    margin: 5px 0px 5px 0px;
    padding: 0 0 0 0;
}

.score {
    background-color: darkgreen;
    color: white;
    width: 250px;
    height: 120px;
    font-size: 32px;
    margin: 5px 0px 5px 0px;
    padding: 0px 5px 15px 5px;
}